:root {
    --theme: #6b8e23;
    --white: #ffffff;
    --black: #232323;
    --gold: #ffd700;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--theme);
}

.navbar-nav .active {
    color: var(--gold) !important;
}

a:hover {
    color: var(--gold);
    text-decoration: none;
}

.bg-theme {
    /* background: linear-gradient(90deg, #6b8e23 0%, #ffd700 100%); */
    background: var(--theme);
}

.text-theme {
    color: var(--theme);
}

.btn-cover {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
}

.input {
    height: 50px;
    font-size: 20px;
    margin: 20px auto;
    margin-right: 20px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    border-radius: 0;
}

.input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.header {
    background-image: url("../assets/Arise\ Africa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: soft-light;
}

.jumbotron {
    color: white;
    position: relative;
    background-color: rgb(23, 23, 23);
    /* background: linear-gradient(90deg, #6b8e23 0%, #ffd700 100%); */
}

.jumbotron h1 {
    color: white;
    margin-top: 30px;
    font-weight: bold;
    margin: 0;
}

.jumbotron p {
    color: white;
}

.jumbotron ul {
    padding: 0;
    width: 100%;
}

.jumbotron li {
    display: inline;
}

.jumbotron a:hover {
    text-decoration: none;
    color: var(--gold);
}

.jumbotron .button {
    background-color: transparent;
    border: 1px solid white;
    width: 200px;
}

.button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    display: inline-block;
}

.button span::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span::after {
    opacity: 1;
    right: 0;
}

.section a:hover {
    text-decoration: none;
    color: var(--gold);
}

.button {
    background-color: var(--theme);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 1px 2px #5e5d5b;
    margin: 20px auto;
    margin-right: 20px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    border: none;
}

.button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    display: inline-block;
}

.button span::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span::after {
    opacity: 1;
    right: 0;
}

.container .team {
    padding: 1.5rem;
}

.team h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.team p {
    text-align: center;
}

.team .card {
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    justify-content: center;
    color: white;
}

.card-1 {
    background-image: url("../assets/undraw_social_thinking_7ule.svg");
}

.card-2 {
    background-image: url("../assets/undraw_segment_analysis_bdn4.svg");
}

.card-3 {
    background-image: url("../assets/undraw_investment_data_yfvt.svg");
}

.card-4 {
    background-image: url("../assets/undraw_creative_draft_vb5x.svg");
}

.card-5 {
    background-image: url("../assets/undraw_work_together_h63l.svg");
}

.card-6 {
    background-image: url("../assets/undraw_judge_katerina_limpitsouni_ny1q.svg");
}

.card-7 {
    background-image: url("../assets/undraw_fashion_photoshoot_mtq8.svg");
}

.card-8 {
    background-image: url("../assets/undraw_team_spirit_hrr4.svg");
}

.who {
    color: black;
    opacity: 0;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.team .card:hover {
    background-color: rgb(35, 35, 35, 0.5);
    background-blend-mode: soft-light;
    filter: opacity(0.7);
    transition: 0.3s ease;
}

.team .card:hover .who {
    opacity: 1;
    transition: 0.3s ease;
    color: var(--white);
}

.name {
    margin-top: 10px;
    font-weight: 700;
    font-size: 17px;
}

.job {
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 1100px) {
    .card .team {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 992px) {
        .clip {
            display: none;
        }
    }
}

.newsletter {
    padding: 100px 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.newsletter p {
    max-width: 600px;
    margin: 40px auto;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}

.email-box i {
    width: 40px;
    line-height: 40px;
    background: var(--theme);
    color: white;
}

.tbox,
.bt {
    border: none;
    outline: none;
}

.tbox {
    width: 0px;
    transition: 0.6s;
}

.email-box:hover>.tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.bt {
    background: var(--theme);
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}